@import url(../fonts/style.css);
@import url(../libs/fancybox/css/jquery.fancybox.min.css);
@import url(../libs/fontawesome/css/all.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import "../scss/bootstrap";

body {
   font-family: Roboto;
   font-weight: 400;
   color: #fff;
   margin: 0;
   background-color: #141218;
}

.main {
   background: url(../images/background.webp) center top/cover no-repeat;
}

#layer {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
   background-color: #00000048;

   &.active {
      display: block;
   }
}

@import "../scss/adaptive-value";
@import "../scss/variables";
@import "../scss/header";
@import "../scss/home";
@import "../scss/footer";
@import "../scss/burger";
@import "../scss/media";