.footer {
    width: 100%;
    padding: 20px 0;
    background: #141218;

    .nav-item {
        font-size: 14px;
        opacity: 0.4;

        &:not(:last-child) {
            margin-right: 25px;
        }
    }
}