@media (max-width: 768px) {
   .header {
      .navbar {
         visibility: hidden;
         flex-direction: column;
         background: var(--main-color);
         position: fixed;
         top: 0;
         right: 101%;
         width: 60%;
         padding: 40px 0;
         opacity: 0;
         transition: all 0.6s ease;

         &-brand {
            margin-right: 0;
            margin-bottom: 25px;
         }

         &-nav {
            flex-direction: column;
         }

         &-links {
            flex-direction: column;
            align-items: center;
            order: 1;
            margin-top: 25px;

            .nav-item {
               &:not(:last-child) {
                  margin-right: 0;
                  margin-bottom: 17px;
               }
            }
         }

         .nav-link {
            font-size: 22px;
            font-weight: 300;
         }

         &.active {
            visibility: visible;
            right: 0;
            opacity: 1;
            transition: all 0.6s ease;
         }
      }
   }

   .home {
      .play-btn {
         display: none;
      }
      .card-hide {
         display: none;
      }
   }
}